/* Karten-Styling */
.card {
    background-color: var(--surface-color); padding: 16px;
    border-radius: 16px; border: 1px solid var(--outline-color);
    position: relative; overflow: hidden;
}
.card h2 {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--on-surface-color);
    font-size: 22px;
    font-weight: 500;
}
.card h3 {
    margin: 0 0 12px 0; color: var(--on-surface-color); text-align: left;
    font-size: 18px; font-weight: 500;
}
.card p { margin-bottom: 16px; color: var(--on-surface-color); opacity: 0.8; }